# Git
.git
.gitignore
.github

# Entornos virtuales
.venv
venv

# Caché de Python
__pycache__
*.pyc
*.pyo
*.pyd

# Pruebas y cobertura
tests
.pytest_cache
.coverage
coverage.xml
htmlcov

# Configuración de desarrollo y CI
.vscode
.idea
.env
Jenkinsfile
sonar-project.properties

# Documentación
README.md

backend/tests/
backend/.pytest_cache/
backend/coverage.xml
frontend/node_modules/
frontend/tests/
frontend/coverage/
jenkins-image/
backups/